@import './helper';

/* map theme color by basic use-case */
:root {
	//--ui-background-1: var(--color-white-100);            /* background for card, panel, etc. */
	//--ui-box-shadow-1: 0 0 1rem var(--color-neutral-200); /* box-shadow for card, panel, etc. */
	//
	//--ui-border-color-1: var(--color-neutral-300);        /* border-color for card, panel, etc. */
	//--ui-border-color-1-hover: var(--color-neutral-400);
	//
	//--ui-border-color-2: var(--color-neutral-200);        /* border-color for item inside card, panel, etc. */
	//--ui-border-color-2-hover: var(--color-neutral-300);

	--u-border-color: 222deg 15% 86%; // h s l
	--u-shadow-color: 333deg 0% 50%;  // h s l
}

:root {
	--lo-page-aside-content--aside-width: #{toRem(300)};
}

/* form elements */
:root {
	--form-element-small-height: #{toRem(28)};
	--form-element-small-font-size: #{toRem(12)};
	--form-element-medium-height: #{toRem(40)};
	--form-element-medium-font-size: #{toRem(14)};
	--form-element-large-height: #{toRem(48)};
	--form-element-large-font-size: #{toRem(16)};

	--form-element-border-radius: #{toRem(6)};
	--form-element-label-font-size: #{toRem(14)};
	--form-element-label-font-family: var(--font-family-secondary);
	--form-element-label-font-weight: 600;

	--select-font-weight: 400;
}

/* message */
:root {
	--message-font-size: #{toRem(15)};
	--message-icon-font-size: #{toRem(22)};
}

/* button */
:root {
	--button-border-radius: #{toRem(8)};
	--button-font-weight: 600;
	--button-font-family: var(--font-family-primary);

	--button-small-height: #{toRem(28)};
	--button-small-font-size: #{toRem(13)};
	--button-medium-height: #{toRem(40)};
	--button-medium-font-size: #{toRem(15)};
	--button-large-height: #{toRem(48)};
	--button-large-font-size: #{toRem(18)};
}

/* select-button */
:root {
	--select-button-font-weight: 400;
	--select-button-font-family: var(--font-family-primary);

	--select-button-small-height: #{toRem(28)};
	--select-button-small-font-size: #{toRem(12)};
	--select-button-medium-height: #{toRem(32)};
	--select-button-medium-font-size: #{toRem(14)};
	--select-button-large-height: #{toRem(42)};
	--select-button-large-font-size: #{toRem(18)};
}

/* tab */
:root {
	--tab-font-weight: 500;
	--tab-font-size: #{toRem(15)};
	--tab-font-family: var(--font-family-secondary);
	--tab-height: #{toRem(40)};
	--tab-padding: 0 #{toRem(20)};
	--tab-border-radius: #{toRem(8)};
	--tab-border-width: #{toRem(1)};
	--tab-content-border-radius: #{toRem(8)};
	--tab-box-shadow: var(--ui-box-shadow-1);
}

/* table */
:root {
	--table-border-width: #{toRem(1)};
	--table-border-radius: #{toRem(8)};

	--table-head-font-weight: 500;
	--table-head-font-size: #{toRem(14)};
	--table-head-font-family: var(--font-family-secondary);
	--table-head-vertical-padding: #{toEm(12)};

	--table-data-font-size: #{toRem(14)};
	--table-data-vertical-padding: #{toEm(16)};
	--table-data-variant-compact-vertical-padding: #{toEm(8)};

	--table-gutter: #{toRem(24)};
	--table-side-padding: #{toEm(16)};
}
