:root {
	// Base


	// Button
	--button-font-family: var(--font-family-primary);
	--button-font-weight: 400;

	--button-color: var(--color-text-light-primary);
	--button-background: var(--color-primary-500);
	--button-hover-background: var(--color-primary-600);
	--button-disabled-background: var(--color-gray-200);
	--button-disabled-color: var(--color-gray-500);
	--button-focus-ring-color: var(--color-primary-300);

	--button-variant-secondary-color: var(--color-primary-500);
	--button-variant-secondary-background: transparent;
	--button-variant-secondary-border: 1px solid var(--color-line-400);
	--button-variant-secondary-hover-color: var(--color-primary-500);
	--button-variant-secondary-hover-background: rgba(255, 255, 255, 0.16);
	--button-variant-secondary-hover-border: 1px solid var(--color-line-500);
	--button-variant-secondary-focus-ring-color: var(--button-focus-ring-color);

	--button-variant-tertiary-color: var(--color-primary-500);
	--button-variant-tertiary-background: transparent;
	--button-variant-tertiary-hover-color: var(--color-primary-500);
	--button-variant-tertiary-hover-background: var(--color-gray-100);
	--button-variant-tertiary-focus-ring-color: var(--button-focus-ring-color);

	--button-variant-negative-color: var(--button-color);
	--button-variant-negative-background: var(--color-negative-500);
	--button-variant-negative-hover-background: var(--color-negative-600);
	--button-variant-negative-focus-ring-color: var(--color-negative-200);

	--button-variant-positive-color: var(--button-color);
	--button-variant-positive-background: var(--color-positive-500);
	--button-variant-positive-hover-background: var(--color-positive-600);
	--button-variant-positive-focus-ring-color: var(--color-positive-200);

	// SelectButton
	--select-button-color: var(--color-text-dark-primary);
	--select-button-border: 1px solid var(--color-line-400);
	--select-button-hover-background: transparent;
	--select-button-hover-border: 1px solid var(--color-line-500);
	--select-button-active-background: var(--color-primary-200);
	--select-button-active-color: var(--color-primary-500);
}
