@import '../helper';
[data-theme="light"] {
	--hue-primary: 333;
	--hsl-primary: var(--hue-primary) 80% 65%;
	--hsl-primary-active: var(--hue-primary) 80% 58%;
	--hsl-primary-content: var(--hue-primary) 80% 98%;

	--hue-accent: 267;
	--hsl-accent: var(--hue-accent) 93% 65%;
	--hsl-accent-active: var(--hue-accent) 93% 60%;
	--hsl-accent-content: var(--hue-accent) 93% 98%;

	--hue-base: 222;
	--hsl-base-100: var(--hue-base) 30% 100%;
	--hsl-base-200: var(--hue-base) 30% 97%;
	--hsl-base-300: var(--hue-base) 30% 92%;
	--hsl-base-400: var(--hue-base) 30% 87%;
	--hsl-line: 222 30% 90%;
	--hsl-content: 215 15% 25%;
	--hsl-content-inv: 0 0% 85%;

	--hsl-positive: 168 72% 35%;
	--hsl-positive-content: 168 80% 95%;
	--hsl-negative: 5 78% 50%;
	--hsl-negative-content: 5 80% 97.5%;
	--hsl-warning: 45 90% 48%;
	--hsl-warning-content: 45 80% 97%;
	--hsl-info: 197 70% 54%;
	--hsl-info-content: 197 90% 97%;

	--hsl-black: 0 0% 0%;
	--hsl-white: 0 0% 100%;

	/*
	* Typography
	*********************************************/

	--ffml-primary: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
	--ffml-secondary: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;

	--fs-14: #{toRem(72)};
	--fs-13: #{toRem(56)};
	--fs-12: #{toRem(48)};
	--fs-11: #{toRem(40)};
	--fs-10: #{toRem(36)};
	--fs-9: #{toRem(32)};
	--fs-8: #{toRem(28)};
	--fs-7: #{toRem(24)};
	--fs-6: #{toRem(20)};
	--fs-5: #{toRem(18)};
	--fs-4: #{toRem(16)};
	--fs-3: #{toRem(15)};
	--fs-2: #{toRem(14)};
	--fs-1: #{toRem(12)};

	/*
	* Spacing
	*********************************************/
	--spc-0: #{toRem(0)};
	--spc-1: #{toRem(1)};
	--spc-2: #{toRem(2)};
	--spc-3: #{toRem(4)};
	--spc-4: #{toRem(8)};
	--spc-5: #{toRem(12)};
	--spc-6: #{toRem(16)};
	--spc-7: #{toRem(24)};
	--spc-8: #{toRem(32)};
	--spc-9: #{toRem(40)};
	--spc-10: #{toRem(48)};
	--spc-11: #{toRem(64)};
	--spc-12: #{toRem(96)};
	--spc-13: #{toRem(128)};

	/*
	 * Box shadow
	 *********************************************/
	--bsd-hsl: 333deg 0% 50%;
	--bsd-100:
		0 #{toRem(1)} #{toRem(1)} hsl(var(--bsd-hsl) / 0.05),
		0 #{toRem(2)} #{toRem(2)} hsl(var(--bsd-hsl) / 0.05),
		0 #{toRem(4)} #{toRem(4)} hsl(var(--bsd-hsl) / 0.05),
		0 #{toRem(8)} #{toRem(8)} hsl(var(--bsd-hsl) / 0.05);

	--bsd-200:
		0 #{toRem(1)} #{toRem(1)} hsl(var(--bsd-hsl) / 0.075),
		0 #{toRem(2)} #{toRem(2)} hsl(var(--bsd-hsl) / 0.075),
		0 #{toRem(4)} #{toRem(4)} hsl(var(--bsd-hsl) / 0.075),
		0 #{toRem(8)} #{toRem(8)} hsl(var(--bsd-hsl) / 0.075),
		0 #{toRem(16)} #{toRem(16)} hsl(var(--bsd-hsl) / 0.075);

	--bsd-300:
		0 #{toRem(1)} #{toRem(1)} hsl(var(--bsd-hsl) / 0.1),
		0 #{toRem(2)} #{toRem(2)} hsl(var(--bsd-hsl) / 0.1),
		0 #{toRem(4)} #{toRem(4)} hsl(var(--bsd-hsl) / 0.1),
		0 #{toRem(8)} #{toRem(8)} hsl(var(--bsd-hsl) / 0.1),
		0 #{toRem(16)} #{toRem(16)} hsl(var(--bsd-hsl) / 0.1),
		0 #{toRem(32)} #{toRem(32)} hsl(var(--bsd-hsl) / 0.1);

	--bsd-400:
		0 #{toRem(1)} #{toRem(1)} hsl(var(--bsd-hsl) / 0.15),
		0 #{toRem(2)} #{toRem(2)} hsl(var(--bsd-hsl) / 0.15),
		0 #{toRem(4)} #{toRem(4)} hsl(var(--bsd-hsl) / 0.15),
		0 #{toRem(8)} #{toRem(8)} hsl(var(--bsd-hsl) / 0.15),
		0 #{toRem(16)} #{toRem(16)} hsl(var(--bsd-hsl) / 0.15),
		0 #{toRem(32)} #{toRem(32)} hsl(var(--bsd-hsl) / 0.15),
		0 #{toRem(64)} #{toRem(64)} hsl(var(--bsd-hsl) / 0.15);
}
