@use "../helper" as h;

[data-theme="light"] {
	--hue-primary: 333;
	--hsl-primary: var(--hue-primary) 80% 65%;
	--hsl-primary-active: var(--hue-primary) 80% 58%;
	--hsl-primary-content: var(--hue-primary) 80% 98%;

	--hue-accent: 267;
	--hsl-accent: var(--hue-accent) 93% 65%;
	--hsl-accent-active: var(--hue-accent) 93% 60%;
	--hsl-accent-content: var(--hue-accent) 93% 98%;

	--hue-base: 222;
	--hsl-base-100: var(--hue-base) 30% 100%;
	--hsl-base-200: var(--hue-base) 30% 97%;
	--hsl-base-300: var(--hue-base) 30% 92%;
	--hsl-base-400: var(--hue-base) 30% 87%;
	--hsl-line: 222 30% 90%;
	--hsl-content: 215 15% 25%;
	--hsl-content-inv: 0 0% 85%;

	--hsl-positive: 168 72% 35%;
	--hsl-positive-content: 168 80% 95%;
	--hsl-negative: 5 78% 50%;
	--hsl-negative-content: 5 80% 97.5%;
	--hsl-warning: 45 90% 48%;
	--hsl-warning-content: 45 80% 97%;
	--hsl-info: 197 70% 54%;
	--hsl-info-content: 197 90% 97%;

	--hsl-black: 0 0% 0%;
	--hsl-white: 0 0% 100%;

	/*
	* Typography
	*********************************************/

	--ffml-primary: "Inter", -apple-system, system-ui, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	--ffml-secondary: "Inter", -apple-system, system-ui, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", sans-serif;

	--fs-14: #{h.toRem(72px)};
	--fs-13: #{h.toRem(56px)};
	--fs-12: #{h.toRem(48px)};
	--fs-11: #{h.toRem(40px)};
	--fs-10: #{h.toRem(36px)};
	--fs-9: #{h.toRem(32px)};
	--fs-8: #{h.toRem(28px)};
	--fs-7: #{h.toRem(24px)};
	--fs-6: #{h.toRem(20px)};
	--fs-5: #{h.toRem(18px)};
	--fs-4: #{h.toRem(16px)};
	--fs-3: #{h.toRem(15px)};
	--fs-2: #{h.toRem(14px)};
	--fs-1: #{h.toRem(12px)};

	/*
	* Spacing
	*********************************************/
	--spc-0: #{h.toRem(0px)};
	--spc-1: #{h.toRem(1px)};
	--spc-2: #{h.toRem(2px)};
	--spc-3: #{h.toRem(4px)};
	--spc-4: #{h.toRem(8px)};
	--spc-5: #{h.toRem(12px)};
	--spc-6: #{h.toRem(16px)};
	--spc-7: #{h.toRem(24px)};
	--spc-8: #{h.toRem(32px)};
	--spc-9: #{h.toRem(40px)};
	--spc-10: #{h.toRem(48px)};
	--spc-11: #{h.toRem(64px)};
	--spc-12: #{h.toRem(96px)};
	--spc-13: #{h.toRem(128px)};

	/*
	 * Box shadow
	 *********************************************/
	--bsd-hsl: 333deg 0% 50%;
	--bsd-100: 0 #{h.toRem(1px)} #{h.toRem(1px)} hsl(var(--bsd-hsl) / 0.05),
		0 #{h.toRem(2px)} #{h.toRem(2px)} hsl(var(--bsd-hsl) / 0.05),
		0 #{h.toRem(4px)} #{h.toRem(4px)} hsl(var(--bsd-hsl) / 0.05),
		0 #{h.toRem(8px)} #{h.toRem(8px)} hsl(var(--bsd-hsl) / 0.05);

	--bsd-200: 0 #{h.toRem(1px)} #{h.toRem(1px)} hsl(var(--bsd-hsl) / 0.075),
		0 #{h.toRem(2px)} #{h.toRem(2px)} hsl(var(--bsd-hsl) / 0.075),
		0 #{h.toRem(4px)} #{h.toRem(4px)} hsl(var(--bsd-hsl) / 0.075),
		0 #{h.toRem(8px)} #{h.toRem(8px)} hsl(var(--bsd-hsl) / 0.075),
		0 #{h.toRem(16px)} #{h.toRem(16px)} hsl(var(--bsd-hsl) / 0.075);

	--bsd-300: 0 #{h.toRem(1px)} #{h.toRem(1px)} hsl(var(--bsd-hsl) / 0.1),
		0 #{h.toRem(2px)} #{h.toRem(2px)} hsl(var(--bsd-hsl) / 0.1),
		0 #{h.toRem(4px)} #{h.toRem(4px)} hsl(var(--bsd-hsl) / 0.1),
		0 #{h.toRem(8px)} #{h.toRem(8px)} hsl(var(--bsd-hsl) / 0.1),
		0 #{h.toRem(16px)} #{h.toRem(16px)} hsl(var(--bsd-hsl) / 0.1),
		0 #{h.toRem(32px)} #{h.toRem(32px)} hsl(var(--bsd-hsl) / 0.1);

	--bsd-400: 0 #{h.toRem(1px)} #{h.toRem(1px)} hsl(var(--bsd-hsl) / 0.15),
		0 #{h.toRem(2px)} #{h.toRem(2px)} hsl(var(--bsd-hsl) / 0.15),
		0 #{h.toRem(4px)} #{h.toRem(4px)} hsl(var(--bsd-hsl) / 0.15),
		0 #{h.toRem(8px)} #{h.toRem(8px)} hsl(var(--bsd-hsl) / 0.15),
		0 #{h.toRem(16px)} #{h.toRem(16px)} hsl(var(--bsd-hsl) / 0.15),
		0 #{h.toRem(32px)} #{h.toRem(32px)} hsl(var(--bsd-hsl) / 0.15),
		0 #{h.toRem(64px)} #{h.toRem(64px)} hsl(var(--bsd-hsl) / 0.15);
}
