@use "../helper" as h;

[data-theme="dark"] {
	--lo-container-side-padding: 24px;

	--lo-page-aside-content--aside-width: #{h.toRem(300px)};

	/* form elements */
	--form-element-small-font-size: #{h.toRem(12px)};
	--form-element-medium-font-size: #{h.toRem(14px)};
	--form-element-large-font-size: #{h.toRem(16px)};
	--form-element-small-height: #{h.toEm(28px)};
	--form-element-medium-height: #{h.toEm(40px)};
	--form-element-large-height: #{h.toEm(48px)};

	--form-element-border-radius: #{h.toEm(6px)};
	--form-element-label-font-size: #{h.toRem(14px)};
	--form-element-label-font-family: var(--ffml-secondary);
	--form-element-label-font-weight: 600;

	--select-font-weight: 400;

	/* message */
	--message-font-size: #{h.toRem(15px)};
	--message-icon-font-size: #{h.toRem(22px)};

	/* button */
	--button-border-radius: #{h.toEm(8px)};
	--button-font-weight: 600;
	--button-font-family: var(--ffml-primary);

	--button-small-height: #{h.toRem(28px)};
	--button-small-font-size: #{h.toRem(13px)};
	--button-medium-height: #{h.toRem(40px)};
	--button-medium-font-size: #{h.toRem(15px)};
	--button-large-height: #{h.toRem(48px)};
	--button-large-font-size: #{h.toRem(18px)};

	/* select-button */
	--select-button-font-weight: 400;
	--select-button-font-family: var(--ffml-primary);

	--select-button-small-height: #{h.toRem(28px)};
	--select-button-small-font-size: #{h.toRem(12px)};
	--select-button-medium-height: #{h.toRem(32px)};
	--select-button-medium-font-size: #{h.toRem(14px)};
	--select-button-large-height: #{h.toRem(42px)};
	--select-button-large-font-size: #{h.toRem(18px)};

	/* tab */
	--tab-font-weight: 500;
	--tab-font-size: #{h.toRem(15px)};
	--tab-font-family: var(--ffml-secondary);
	--tab-height: #{h.toRem(40px)};
	--tab-padding: 0 #{h.toRem(20px)};
	--tab-border-radius: #{h.toRem(8px)};
	--tab-border-width: #{h.toRem(1px)};
	--tab-content-border-radius: #{h.toRem(8px)};
	--tab-box-shadow: var(--ui-box-shadow-1);

	/* table */
	//--table-border-width: #{h.toRem(1px)};
	//--table-border-radius: #{h.toRem(8px)};
	//--table-border-color: hsl(var(--hsl-content) / 0.1);
	//
	//--table-head-font-weight: 600;
	//--table-head-font-size: #{h.toRem(15px)};
	//--table-head-font-family: var(--ffml-secondary);
	//--table-head-vertical-padding: #{h.toRem(12px)};
	//
	//--table-data-font-size: #{h.toRem(14px)};
	//--table-data-vertical-padding: #{h.toRem(16px)};
	//--table-data-border-color: hsl(var(--hsl-content) / 0.15);
	//
	//--table-gutter: #{h.toRem(24px)};
	//--table-side-padding: #{h.toRem(24px)};
}
