@import "../helper";

[data-theme="dark"] {
	--lo-container-side-padding: 24px;

	--lo-page-aside-content--aside-width: #{toRem(300)};

	/* form elements */
	--form-element-small-font-size: #{toRem(12)};
	--form-element-medium-font-size: #{toRem(14)};
	--form-element-large-font-size: #{toRem(16)};
	--form-element-small-height: #{toRem(28)};
	--form-element-medium-height: #{toRem(40)};
	--form-element-large-height: #{toRem(48)};

	--form-element-border-radius: #{toEm(6)};
	--form-element-label-font-size: #{toRem(15)};
	--form-element-label-font-family: var(--ffml-secondary);
	--form-element-label-font-weight: 600;

	--select-font-weight: 400;

	/* message */
	--message-font-size: #{toRem(15)};
	--message-icon-font-size: #{toRem(22)};

	/* button */
	--button-border-radius: #{toEm(6)};
	--button-font-weight: 600;
	--button-font-family: var(--ffml-primary);

	--button-small-height: #{toRem(28)};
	--button-small-font-size: #{toRem(13)};
	--button-medium-height: #{toRem(40)};
	--button-medium-font-size: #{toRem(15)};
	--button-large-height: #{toRem(48)};
	--button-large-font-size: #{toRem(18)};

	/* select-button */
	--select-button-font-weight: 400;
	--select-button-font-family: var(--ffml-primary);

	--select-button-small-height: #{toRem(28)};
	--select-button-small-font-size: #{toRem(12)};
	--select-button-medium-height: #{toRem(32)};
	--select-button-medium-font-size: #{toRem(14)};
	--select-button-large-height: #{toRem(42)};
	--select-button-large-font-size: #{toRem(18)};

	/* tab */
	--tab-font-weight: 500;
	--tab-font-size: #{toRem(15)};
	--tab-font-family: var(--ffml-secondary);
	--tab-height: #{toRem(40)};
	--tab-padding: 0 #{toRem(20)};
	--tab-border-radius: #{toRem(8)};
	--tab-border-width: #{toRem(1)};
	--tab-content-border-radius: #{toRem(8)};
	--tab-box-shadow: var(--ui-box-shadow-1);

	/* table */
	//--table-border-width: #{toRem(1)};
	//--table-border-radius: #{toRem(8)};
	//--table-border-color: hsl(var(--hsl-content) / 0.1);
	//
	//--table-head-font-weight: 600;
	//--table-head-font-size: #{toRem(15)};
	//--table-head-font-family: var(--ffml-secondary);
	//--table-head-vertical-padding: #{toRem(12)};
	//
	//--table-data-font-size: #{toRem(14)};
	//--table-data-vertical-padding: #{toRem(16)};
	//--table-data-border-color: hsl(var(--hsl-content) / 0.15);
	//
	//--table-gutter: #{toRem(24)};
	//--table-side-padding: #{toRem(24)};
}
