.lo-page-aside-content {
	--aside-width: var(--lo-page-aside-content--aside-width, 300px);

	> .aside,
	> aside {
		position: fixed;
		z-index: 0;
		top: 0;
		bottom: 0;
		overflow: auto;
		width: var(--aside-width);
		border-right: 1px solid var(--color-neutral-200);
		background-color: var(--color-neutral-100);
	}

	> .main,
	> main {
		flex: 1 0 auto;
		padding-left: var(--aside-width);
	}
}
