.lo-page-aside-content {
	--w: 300px;

	> .nav,
	> nav {
		position: fixed;
		z-index: 1;
		display: flex;
		align-items: center;
		width: 100%;
		height: var(--h);
		border-bottom: 1px solid var(--color-neutral-200);
	}

	> .aside,
	> aside {
		position: fixed;
		z-index: 0;
		top: 0;
		bottom: 0;
		overflow: auto;
		width: var(--w);
		border-right: 1px solid var(--color-neutral-200);
		background-color: var(--color-neutral-100);
	}

	> .main,
	> main {
		flex: 1 0 auto;
		margin-left: var(--w);
	}
}
