@use "sass:math";

@function toRem($value) {
	$r: math.div($value, 16) + rem;
	@return $r;
}

@function toEm($value) {
	$r: math.div($value, 16) + em;
	@return $r;
}

%base-input {
	width: 100%;
	height: 100%;
	padding-right: toRem(12);
	padding-left: toRem(12);
	transition: all 0.16s ease-in-out;
	vertical-align: top;
	border: 1px solid var(--color-neutral-300);

	border-radius: inherit;

	outline: none;

	background-color: var(--color-white-100);
	-webkit-appearance: none;

	-moz-appearance: none;
	appearance: none;

	&:hover {
		border-color:  var(--color-neutral-500)
	}

	&:focus, :active {
		border-color: var(--color-primary-500);
		box-shadow: 0 0 0 .175rem var(--color-primary-300);
	}
}
