@use '../../packages/nomimono-theme/light/main' as *;
@use '../../packages/nomimono-theme/dark/main' as *;

@use '../../../nomimono-css/scss/reset' as *;
@use '../../../nomimono-css/scss/atomic/main' as *;
@use '../../../nomimono-css/scss/layout/main' as *;
@use '../../../nomimono-css/scss/component/main' as *;
@use '../../../nomimono-css/scss/utility/main' as *;

.content {
	section {
		margin-top: var(--spc-10);
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-top: 1rem;
		padding-bottom: 0.75rem;
		padding-left: 1em;
		color: hsl(var(--hsl-content) / 80%);
		font-size: var(--fs-3);
	}

	p {
		margin-top: 1rem;
		color: hsl(var(--hsl-content) / 80%);
		font-size: var(--fs-3);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0.5em;
	}

	code:not([class^='language']) {
		color: hsl(var(--hsl-accent));
	}

	[command-line] code {
		color: hsl(var(--hsl-white));
	}
}
