.lo-container {
	display: grid;
	width: 100%;
	grid-template-columns: var(--lo-container-side-padding) minmax(0px, auto) var(--lo-container-side-padding);
	grid-template-rows: auto;

	@each $breakpointName, $breakpointSize in $breakpoints {
		@media (min-width: $breakpointSize) {
			grid-template-columns: 1fr $breakpointSize - 40px 1fr;
		}
	};

	>* {
		grid-column: 2 / 3;
	}
}
