@import '../helper/all';
@import 'config';

.#{$prefix}button {
	font-family: var(--button-font-family);
	font-size: var(--button-medium-font-size);
	font-weight: var(--button-font-weight);
	line-height: 100%;
	position: relative;

	z-index: 0;
	display: inline-flex;

	overflow: hidden;
	align-items: center;
	justify-content: center;
	min-height: var(--button-medium-height);

	padding: 0 toRem(18);
	cursor: pointer;

	user-select: none;
	transition: all 0.16s ease-in-out;
	color: hsl(var(--hsl-white));
	border: none;

	border-radius: var(--button-border-radius);
	outline: none;

	background: hsl(var(--hsl-primary));

	> * {
		z-index: 1;
	}

	.start-icon,
	.end-icon {
		display: flex;
		align-items: center;
		min-width: toEm(22);
	}

	.end-icon {
		justify-content: flex-end;
	}

	&:before {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		transition: all 0.16s ease-in-out;
		pointer-events: none;
	}

	&:not(.is-no-focus-ring):focus {
		box-shadow: 0 0 0 .175rem hsl(var(--hsl-primary) / 0.3);
	}

	&:hover,
	&:focus {
		background: hsl(var(--hsl-primary-active) / 1);
	}

	&.is-loading {
		color: transparent;

		&:after {
			position: absolute;
			right: 0;
			left: 0;
			width: 1em;
			height: 1em;
			margin: auto;
			content: '';
			animation: ButtonLoadingSpin 0.48s infinite linear;
			border: 2px solid;
			border-top-color: hsl(var(--hsl-content-inv));
			border-right-color: hsl(var(--hsl-content-inv));
			border-radius: 999px;
		}
	}

	&.is-size-small {
		font-size: var(--button-small-font-size);
		min-height: var(--button-small-height);
		padding: 0 toRem(16);

		.start-icon,
		.end-icon {
			min-width: toRem(18);
		}
	}

	&.is-size-medium {
		font-size: var(--button-medium-font-size);
		min-height: var(--button-medium-height);
		padding: 0 toRem(18);

		.start-icon,
		.end-icon {
			min-width: toRem(22);
		}
	}

	&.is-size-large {
		font-size: var(--button-large-font-size);
		min-height: var(--button-large-height);
		padding: 0 toRem(20);

		.start-icon,
		.end-icon {
			min-width: toRem(26);
		}
	}

	&.is-variant-negative {
		background: var(--color-negative-200);

		:not(.is-no-focus-ring):focus {
			box-shadow: 0 0 0 .175rem var(--color-negative-100);
		}

		&.is-loading{
			color: transparent;

			&:after {
				border-top-color: var(--color-text-invert-100);
				border-right-color: var(--color-text-invert-100);
			}
		}
	}

	&.is-variant-positive {
		background: var(--color-positive-200);

		:not(.is-no-focus-ring):focus {
			box-shadow: 0 0 0 .175rem var(--color-positive-100);
		}

		&.is-loading{
			color: transparent;

			&:after {
				border-top-color: var(--color-text-invert-100);
				border-right-color: var(--color-text-invert-100);
			}
		}
	}

	&.is-variant-secondary {
		color: hsl(var(--hsl-content));
		border: toRem(1) solid hsl(var(--hsl-content) / 0.2);
		background: transparent;

		&:hover {
			border: toRem(1) solid hsl(var(--hsl-content) / 0.3);
			background: hsl(var(--hsl-content) / 0.05);

			&:before {
				background: var(--color-shade-100);
			}
		}

		&:not(.is-no-focus-ring):focus {
			box-shadow: 0 0 0 .175rem hsl(var(--hsl-primary) / 0.3);
		}

		&.is-loading{
			color: transparent;

			&:after {
				border-top-color: hsl(var(--hsl-primary));
				border-right-color: hsl(var(--hsl-primary));
			}
		}
	}

	&.is-variant-tertiary {
		color: hsl(var(--hsl-content) / 1);
		border: unset;
		background: hsl(var(--hsl-content) / 0.1);

		&:hover {
			background: hsl(var(--hsl-content) / 0.2);
		}

		&:not(.is-no-focus-ring):focus {
			box-shadow: 0 0 0 .175rem hsl(var(--hsl-primary) / 0.3);
		}

		&.is-loading{
			color: transparent;

			&:after {
				border-top-color: var(--color-text-200);
				border-right-color: var(--color-text-200);
			}
		}
	}

	&.is-variant-ghost {
		color: hsl(var(--hsl-content) / 1);
		border: unset;
		background: transparent;

		&:not(.is-no-focus-ring):focus {
			box-shadow: 0 0 0 .175rem hsl(var(--hsl-primary) / 0.3);
		}

		&:hover {
			background: hsl(var(--hsl-content) / 0.05);
		}

		&.is-loading{
			color: transparent;

			&:after {
				border-top-color: var(--color-text-200);
				border-right-color: var(--color-text-200);
			}
		}
	}

	&[disabled],
	&.is-disabled {
		cursor: not-allowed;
		opacity: 0.6;
	}

	&.is-fluid {
		width: 100%;
	}

	&.is-pill {
		border-radius: 999px;
	}

}

@keyframes ButtonLoadingSpin {
	from { transform: rotate(0deg); }
	to   { transform: rotate(359deg); }
}
