@import '../helper/all';
@import 'config';

.#{$prefix}card {
	padding: 1.5em 1.5em;
	border: 1px solid hsl(var(--hsl-content) / 0.1);
	border-radius: 0.5em;
	background-color: hsl(var(--hsl-base-100));
}
