@import '../helper/all';
@import 'config';

$SIZES: 'small', 'medium', 'large';

.#{$prefix}field {
	@extend %base-field;

	// size
	@each $s in $SIZES {
		&.is-size-#{$s} {
			.#{$prefix}input {
				height: var(--form-element-#{$s}-height);

				input {
					font-size: var(--form-element-#{$s}-font-size);
					padding: 0 1em 0 1em;
				}
			}
		}
	}

	&.is-variant-negative {
		.#{$prefix}input {
			input {
				color: hsl(var(--hsl-negative));
				border-color: hsl(var(--hsl-negative));

				&:hover {
					border-color: hsl(var(--hsl-negative));
				}

				&:focus {
					box-shadow: 0 0 0 .175em hsl(var(--hsl-negative) / 0.3);
				}
			}
		}

		.info {
			color: hsl(var(--hsl-negative));
		}
	}

	&.is-variant-positive {
		.#{$prefix}input {
			input {
				color: hsl(var(--hsl-positive));
				border-color: hsl(var(--hsl-positive));

				&:hover {
					border-color: hsl(var(--hsl-positive));
				}

				&:focus {
					box-shadow: 0 0 0 .175em hsl(var(--hsl-positive) / 0.3);
				}
			}
		}

		.info {
			color: hsl(var(--hsl-positive));
		}
	}

	&.is-disabled {
		.#{$prefix}input {
			input {
				cursor: not-allowed;
				background: hsl(var(--hsl-content) / 0.05);
			}
		}
	}
}

.#{$prefix}input {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	height: var(--form-element-medium-height);
	border-radius: var(--form-element-border-radius);
	gap: toEm(6);

	input {
		@extend %base-input;

		font-size: var(--form-element-medium-font-size);
		font-weight: 400;
		padding-right: toEm(32);
		cursor: pointer;
	}
}
