@import '../helper/all';
@import 'config';

.#{$prefix}link {
	text-decoration: none;
	color: hsl(var(--hsl-primary));

	&:hover {
		color: hsl(var(--hsl-primary-active));
	}

	&.is-variant-none {
		&:hover {
			color: var(--color-text-100);
		}
	}
}
