@import '../helper/all';
@import 'config';

.#{$prefix}menu {
	display: inline-flex;
	overflow: hidden;
	flex-direction: column;
	border-radius: var(--menu-border-radius, #{toEm(12)});
	background: var(--menu-background, var(--color-neutral-50));

	&.is-compact {
		li:not(.group-label) > * {
			font-size: var(--font-size-300);
			min-height: toEm(44);
			padding: 0 toRem(16);
		}

		.group-label {
			font-size: var(--font-size-200);
			padding: 0 toRem(16);
		}
	}

	&.is-variant-inset {
		padding: 12px;

		li:not(.group-label) {
			border-radius: toEm(8);
		}
	}

	.group-label {
		font-size: var(--font-size-300);
		margin-bottom: toEm(8);
		padding: 0 toRem(24);
		color: var(--color-text-default-200);

		&:not(:first-child) {
			margin-top: toEm(24);
		}
	}

	li:not(.group-label) {
		transition: all 0.16s ease-in-out;

		&.is-active {
			background: var(--color-primary-100);

			> * {
				color: var(--color-primary-700);
			}

			&:hover {
				background: var(--color-primary-100);
			}
		}

		&:hover {
			background: var(--menu-background-hover, var(--color-neutral-100));
		}

		> * {
			display: flex;
			align-items: center;
			min-height: toEm(52);
			padding: 0 toEm(24);
			cursor: pointer;
			white-space: nowrap;
		}
	}
}
