@import '../helper/all';
@import 'config';

.#{$prefix}message {
	font-size: var(--message-font-size);
	font-weight: 400;
	position: relative;
	display: flex;
	padding: toRem(16) toRem(24);
	color: var(--color-primary-700);
	border: toRem(1) solid var(--color-primary-300);
	border-radius: toRem(8);
	background: var(--color-primary-50);

	> p {
		flex: 1;
	}

	.icon {
		font-size: var(--message-icon-font-size);
		display: flex;
		align-items: center;
	}

	.close {
		position: absolute;
		top: toRem(8);
		right: toRem(8);
		display: flex;
		align-items: center;
		justify-content: center;
		width: toRem(24);
		height: toRem(24);
		cursor: pointer;
		transition: opacity 0.16s ease-in-out;
		opacity: 0.5;
		border-radius: 999px;
		background: var(--color-primary-300);

		&:hover {
			opacity: 1;
		}

		&:before, &:after {
			position: absolute;
			left: toRem(11);
			width: toRem(2);
			height: toRem(16);
			content: ' ';
			background-color: currentColor;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	&.is-show-close {
		padding-right: toRem(44);
	}

	&.is-show-icon {
		> p {
			padding-left: toRem(16);
		}
	}


	&.is-variant-positive {
		color: var(--color-positive-400);
		border: toRem(1) solid var(--color-positive-100);
		background: var(--color-positive-50);

		.close {
			background: var(--color-positive-100);
		}
	}

	&.is-variant-negative {
		color: var(--color-negative-400);
		border: toRem(1) solid var(--color-negative-100);
		background: var(--color-negative-50);

		.close {
			background: var(--color-negative-100);
		}
	}

	&.is-variant-warning {
		color: var(--color-warning-400);
		border: toRem(1) solid var(--color-warning-100);
		background: var(--color-warning-50);

		.close {
			background: var(--color-warning-100);
		}
	}

	&.is-variant-info {
		color: var(--color-info-400);
		border: toRem(1) solid var(--color-info-100);
		background: var(--color-info-50);

		.close {
			background: var(--color-info-100);
		}
	}
}
