@import '../helper/all';
@import 'config';

.#{$prefix}-table-container {
	position: relative;
	overflow-x: auto;
	overflow-y: visible;
	border: var(--table-border-width) solid var(--ui-border-color-2);
	border-radius: var(--table-border-radius);
}

.#{$prefix}-table {
	overflow-x: auto;
	overflow-y: visible;

	width: 100%;
	max-width: 100%;

	border-spacing: 0;

	border-collapse: collapse;
	word-break: normal;

	&.is-variant-primary {
		thead {
			color: var(--color-text-invert-100);
			background: var(--color-primary-500);
		}
	}

	thead {
		font-family: var(--table-head-font-family);
		font-size: var(--table-head-font-size);
		font-weight: var(--table-head-font-weight);
		overflow: hidden;
		color: var(--color-neutral-700);
		background: var(--color-neutral-100);
	}

	th, td {
		text-align: left;
		vertical-align: middle;

		&:first-child {
			padding-left: var(--table-side-padding);
		}

		&:not(:first-child) {
			padding-left: var(--table-gutter);
		}

		&:last-child {
			padding-right: var(--table-side-padding);
		}

		&.is-align-left {
			text-align: left;
		}

		&.is-align-center {
			text-align: center;
		}

		&.is-align-right {
			text-align: right;
		}
	}

	td {
		font-size: var(--table-data-font-size);
		padding: var(--table-data-vertical-padding) 0 var(--table-data-vertical-padding) 0;
	}

	th {
		padding: var(--table-head-vertical-padding) 0 var(--table-head-vertical-padding) 0;
		border-bottom: toRem(1) solid var(--ui-border-color-2);

		&.is-collapse {
			width: 1%;
		}
	}

	tr:not(:last-child) {
		border-bottom: toRem(1) solid var(--ui-border-color-2);
	}
}
