@import '../helper/all';
@import 'config';

.#{$prefix}table-container {
	position: relative;
	overflow-x: auto;
	overflow-y: visible;
	border:
		var(--table-border-width,
		toRem(1)) solid
		var(--table-border-color, hsl(var(--hsl-content) / 0.1));
	border-radius: var(--table-border-radius, toRem(8));
}

.#{$prefix}table {
	overflow-x: auto;
	overflow-y: visible;

	width: 100%;
	max-width: 100%;

	border-spacing: 0;

	border-collapse: collapse;
	word-break: normal;

	thead {
		font-size: var(--table-head-font-size, toRem(15));
		overflow: hidden;
		color: hsl(var(--hsl-content) / 1);
		background: var(--table-head-background, hsl(var(--hsl-content-inv) / 0.2));
	}

	tbody {
		font-size: var(--table-data-font-size, toRem(14));
	}

	th, td {
		text-align: left;
		vertical-align: middle;

		&:first-child {
			padding-left: var(--table-side-padding, toEm(24));
		}

		&:not(:first-child) {
			padding-left: var(--table-gutter, toEm(24));
		}

		&:last-child {
			padding-right: var(--table-side-padding, toEm(24));
		}

		&.is-align-left {
			text-align: left;
		}

		&.is-align-center {
			text-align: center;
		}

		&.is-align-right {
			text-align: right;
		}
	}

	td {
		padding: var(--table-data-vertical-padding, toRem(16)) 0;
	}

	th {
		font-family: var(--table-head-font-family, 'sans-serif');
		font-weight: var(--table-head-font-weight, 600);
		padding: var(--table-head-vertical-padding, toRem(16)) 0;
		border-bottom: toRem(1) solid var(--table-data-border-color, hsl(var(--hsl-content) / 0.15));

		&.is-collapse {
			width: 1%;
		}
	}

	tr:not(:last-child) {
		td {
			border-bottom: toRem(1) solid var(--table-data-border-color, hsl(var(--hsl-content) / 0.15));
		}
	}

	&.is-variant-compact {
		tr td {
			padding-top: toRem(10);
			padding-bottom: toRem(10);
		}
	}
}
