.select-button {
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 32px;
	padding: 0 12px;
	cursor: pointer;
	color: var(--select-button-color);
	border: var(--select-button-border);
	border-radius: 999px;
	background-color: transparent;

	&:hover,
	&:focus {
		border: var(--select-button-hover-border);
		background: var(--select-button-hover-background);
	}

	&.is-active {
		color: var(--select-button-active-color);
		border-color: var(--select-button-active-color);
		background-color: var(--select-button-active-background);
	}

	&.is-size-s {
		font-size: 12px;
		min-height: 28px;
		padding: 0 12px;
	}

	&.is-size-m {
		font-size: 15px;
		min-height: 32px;
		padding: 0 14px;
	}

	&.is-size-l {
		font-size: 18px;
		min-height: 42px;
		padding: 0 18px;
	}

	&[disabled] {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
