.#{$atom-prefix}bgs-cv { background-size: cover !important; }
.#{$atom-prefix}bgs-ct { background-size: contain !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		.#{$atom-prefix}bgs-cv-#{$breakpointName} { background-size: cover !important; }
		.#{$atom-prefix}bgs-ct-#{$breakpointName} { background-size: contain !important; }
	};
};
