.#{$atom-prefix}tst-100 { transition: all 0.08s ease !important; }
.#{$atom-prefix}tst-200 { transition: all 0.16s ease !important; }
.#{$atom-prefix}tst-300 { transition: all 0.32s ease !important; }
.#{$atom-prefix}tst-400 { transition: all 0.48s ease !important; }
