.#{$atom-prefix}tst-1 { transition: all 0.08s ease !important; }
.#{$atom-prefix}tst-2 { transition: all 0.16s ease !important; }
.#{$atom-prefix}tst-3 { transition: all 0.32s ease !important; }
.#{$atom-prefix}tst-4 { transition: all 0.48s ease !important; }
