$atom-prefix: '_';

/*
 * Color
 *********************************************/
$background-colors: (
	'primary': hsl(var(--hsl-primary) / var(--bgcl-opacity)),
	'primary-active': hsl(var(--hsl-primary-active) / var(--bgcl-opacity)),
	'primary-content': hsl(var(--hsl-primary-content) / var(--bgcl-opacity)),

	'base-100': hsl(var(--hsl-base-100) / var(--bgcl-opacity)),
	'base-200': hsl(var(--hsl-base-200) / var(--bgcl-opacity)),
	'base-300': hsl(var(--hsl-base-300) / var(--bgcl-opacity)),
	'base-400': hsl(var(--hsl-base-400) / var(--bgcl-opacity)),
	'content': hsl(var(--hsl-content) / var(--bgcl-opacity)),
	'content-inv': hsl(var(--hsl-content-inv) / var(--bgcl-opacity)),

	'positive': hsl(var(--hsl-positive) / var(--bgcl-opacity)),
	'positive-content': hsl(var(--hsl-positive-content) / var(--bgcl-opacity)),
	'negative': hsl(var(--hsl-negative) / var(--bgcl-opacity)),
	'negative-content': hsl(var(--hsl-negative-content) / var(--bgcl-opacity)),
	'warning': hsl(var(--hsl-warning) / var(--bgcl-opacity)),
	'warning-content': hsl(var(--hsl-warning-content) / var(--bgcl-opacity)),
	'info': hsl(var(--hsl-info) / var(--bgcl-opacity)),
	'info-content': hsl(var(--hsl-info-content) / var(--bgcl-opacity)),
	'black': hsl(var(--hsl-black) / var(--bgcl-opacity)),
	'white': hsl(var(--hsl-white) / var(--bgcl-opacity)),

	'tpr': transparent,
	'crcl': currentColor,
	'ihr': inherit,
);

$colors: (
	'primary': hsl(var(--hsl-primary) / var(--cl-opacity)),
	'primary-active': hsl(var(--hsl-primary-active) / var(--cl-opacity)),
	'primary-content': hsl(var(--hsl-primary-content) / var(--cl-opacity)),

	'content': hsl(var(--hsl-content) / var(--cl-opacity)),
	'content-inv': hsl(var(--hsl-content-inv) / var(--cl-opacity)),

	'positive': hsl(var(--hsl-positive) / var(--cl-opacity)),
	'positive-content': hsl(var(--hsl-positive-content) / var(--cl-opacity)),
	'negative': hsl(var(--hsl-negative) / var(--cl-opacity)),
	'negative-content': hsl(var(--hsl-negative-content) / var(--cl-opacity)),
	'warning': hsl(var(--hsl-warning) / var(--cl-opacity)),
	'warning-content': hsl(var(--hsl-warning-content) / var(--cl-opacity)),
	'info': hsl(var(--hsl-info) / var(--cl-opacity)),
	'info-content': hsl(var(--hsl-info-content) / var(--cl-opacity)),

	'black': hsl(var(--hsl-black) / var(--cl-opacity)),
	'white': hsl(var(--hsl-white) / var(--cl-opacity)),

	'tpr': transparent,
	'crcl': currentColor,
	'ihr': inherit,
);

$border-colors: (
	'primary': hsl(var(--hsl-primary) / var(--bdcl-opacity)),
	'primary-active': hsl(var(--hsl-primary-active) / var(--bdcl-opacity)),
	'primary-content': hsl(var(--hsl-primary-content) / var(--bdcl-opacity)),

	'base-100': hsl(var(--hsl-base-100) / var(--bdcl-opacity)),
	'base-200': hsl(var(--hsl-base-200) / var(--bdcl-opacity)),
	'base-300': hsl(var(--hsl-base-300) / var(--bdcl-opacity)),
	'base-400': hsl(var(--hsl-base-400) / var(--bdcl-opacity)),
	'content': hsl(var(--hsl-content) / var(--bdcl-opacity)),
	'content-inv': hsl(var(--hsl-content-inv) / var(--bdcl-opacity)),

	'positive': hsl(var(--hsl-positive) / var(--bdcl-opacity)),
	'positive-content': hsl(var(--hsl-positive-content) / var(--bdcl-opacity)),
	'negative': hsl(var(--hsl-negative) / var(--bdcl-opacity)),
	'negative-content': hsl(var(--hsl-negative-content) / var(--bdcl-opacity)),
	'warning': hsl(var(--hsl-warning) / var(--bdcl-opacity)),
	'warning-content': hsl(var(--hsl-warning-content) / var(--bdcl-opacity)),
	'info': hsl(var(--hsl-info) / var(--bdcl-opacity)),
	'info-content': hsl(var(--hsl-info-content) / var(--bdcl-opacity)),
	'black': hsl(var(--hsl-black) / var(--bdcl-opacity)),
	'white': hsl(var(--hsl-white) / var(--bdcl-opacity)),

	'tpr': transparent,
	'crcl': currentColor,
	'ihr': inherit,
);

$opacity: (
	'0': 0,
	'5': 0.05,
	'10': 0.1,
	'15': 0.15,
	'20': 0.2,
	'25': 0.25,
	'30': 0.3,
	'40': 0.4,
	'50': 0.5,
	'60': 0.6,
	'70': 0.7,
	'80': 0.8,
	'90': 0.9,
	'100': 1,
);

$border-radius: (
	'0': var(--spc-0),
	'1': var(--spc-1),
	'2': var(--spc-2),
	'3': var(--spc-3),
	'4': var(--spc-4),
	'5': var(--spc-5),
	'6': var(--spc-6),
	'7': var(--spc-7),
	'8': var(--spc-8),
	'9': var(--spc-9),
	'10': var(--spc-10),
	'11': var(--spc-11),
	'12': var(--spc-12),
	'13': var(--spc-13),
	'50pct': 50%,
	'100pct': 100%,
	'at': auto,
	'us': unset,
	'ihr': inherit,
	'max': 9999px,
);

$margin_padding: (
	'0': var(--spc-0),
	'1': var(--spc-1),
	'2': var(--spc-2),
	'3': var(--spc-3),
	'4': var(--spc-4),
	'5': var(--spc-5),
	'6': var(--spc-6),
	'7': var(--spc-7),
	'8': var(--spc-8),
	'9': var(--spc-9),
	'10': var(--spc-10),
	'11': var(--spc-11),
	'12': var(--spc-12),
	'13': var(--spc-13),
	'50pct': 50%,
	'100pct': 100%,
	'at': auto,
	'us': unset,
	'ihr': inherit,
);

// [min-max] width height
$width_height: (
	'0': var(--spc-0),
	'1': var(--spc-1),
	'2': var(--spc-2),
	'3': var(--spc-3),
	'4': var(--spc-4),
	'5': var(--spc-5),
	'6': var(--spc-6),
	'7': var(--spc-7),
	'8': var(--spc-8),
	'9': var(--spc-9),
	'10': var(--spc-10),
	'11': var(--spc-11),
	'12': var(--spc-12),
	'13': var(--spc-13),
	'50pct': 50%,
	'100pct': 100%,
	'at': auto,
	'us': unset,
	'ihr': inherit,
	'80ch': 80ch,
	'100vw': 100vw,
	'100vh': 100vh,
);

$top_right_bottom_left: (
	'0': var(--spc-0),
	'1': var(--spc-1),
	'2': var(--spc-2),
	'3': var(--spc-3),
	'4': var(--spc-4),
	'5': var(--spc-5),
	'6': var(--spc-6),
	'7': var(--spc-7),
	'8': var(--spc-8),
	'9': var(--spc-9),
	'10': var(--spc-10),
	'11': var(--spc-11),
	'12': var(--spc-12),
	'13': var(--spc-13),
	'50pct': 50%,
	'100pct': 100%,
	'at': auto,
	'us': unset,
);

$gap: (
	'0': var(--spc-0),
	'1': var(--spc-1),
	'2': var(--spc-2),
	'3': var(--spc-3),
	'4': var(--spc-4),
	'5': var(--spc-5),
	'6': var(--spc-6),
	'7': var(--spc-7),
	'8': var(--spc-8),
	'9': var(--spc-9),
	'10': var(--spc-10),
	'11': var(--spc-11),
	'12': var(--spc-12),
	'13': var(--spc-13),
	'us': unset,
);

$border-width: (
	'0': var(--spc-0),
	'1': var(--spc-1),
	'2': var(--spc-2),
	'3': var(--spc-3),
	'4': var(--spc-4),
	'5': var(--spc-5),
	'6': var(--spc-6),
	'7': var(--spc-7),
	'8': var(--spc-8),
	'9': var(--spc-9),
	'10': var(--spc-10),
	'11': var(--spc-11),
	'12': var(--spc-12),
	'13': var(--spc-13),
	'us': unset,
);

$font-families: (
	'primary': var(--ffml-primary),
	'secondary': var(--ffml-secondary),
);

$font-sizes: (
	'1': var(--fs-1),
	'2': var(--fs-2),
	'3': var(--fs-3),
	'4': var(--fs-4),
	'5': var(--fs-5),
	'6': var(--fs-6),
	'7': var(--fs-7),
	'8': var(--fs-8),
	'9': var(--fs-9),
	'10': var(--fs-10),
	'11': var(--fs-11),
	'12': var(--fs-12),
	'13': var(--fs-13),
	'14': var(--fs-14),
);

$font-weights: (
	'100': 100,
	'200': 200,
	'300': 300,
	'400': 400,
	'500': 500,
	'600': 600,
	'700': 700,
	'800': 800,
	'900': 900,
);

$line-heights: (
	'1': 1,
	'2': 1.15,
	'3': 1.25,
	'4': 1.50,
	'5': 1.65,
);

$sm: toRem(768);
$md: toRem(1024);
$lg: toRem(1280);

$breakpoints: (
	'sm': $sm,
	'md': $md,
	'lg': $lg,
);
