$atom-prefix: '_';

/*
 * Color
 *********************************************/
$background-colors: (
	'primary': hsl(var(--hsl-primary) / var(--bgcl-opacity)),
	'primary-active': hsl(var(--hsl-primary-active) / var(--bgcl-opacity)),
	'primary-content': hsl(var(--hsl-primary-content) / var(--bgcl-opacity)),

	/* for create layout, card, line color */
	'base-100': hsl(var(--hsl-base-100) / var(--bgcl-opacity)),
	'base-200': hsl(var(--hsl-base-200) / var(--bgcl-opacity)),
	'base-300': hsl(var(--hsl-base-300) / var(--bgcl-opacity)),
	'base-400': hsl(var(--hsl-base-400) / var(--bgcl-opacity)),
	'content': hsl(var(--hsl-content) / var(--bgcl-opacity)),

	'positive': hsl(var(--hsl-positive) / var(--bgcl-opacity)),
	'positive-content': hsl(var(--hsl-positive-content) / var(--bgcl-opacity)),
	'negative': hsl(var(--hsl-negative) / var(--bgcl-opacity)),
	'negative-content': hsl(var(--hsl-negative-content) / var(--bgcl-opacity)),
	'warning': hsl(var(--hsl-warning) / var(--bgcl-opacity)),
	'warning-content': hsl(var(--hsl-warning-content) / var(--bgcl-opacity)),
	'info': hsl(var(--hsl-info) / var(--bgcl-opacity)),
	'info-content': hsl(var(--hsl-info-content) / var(--bgcl-opacity)),

	'purple': hsl(var(--hsl-purple) / var(--bgcl-opacity)),
	'purple-content': hsl(var(--hsl-purple-content) / var(--bgcl-opacity)),
	'content-inv': hsl(var(--hsl-content-inv) / var(--bgcl-opacity)),

	'black': hsl(var(--hsl-black) / var(--bgcl-opacity)),
	'white': hsl(var(--hsl-white) / var(--bgcl-opacity)),

	//'neutral-50': var(--cl-neutral-50),
	//'neutral-100': var(--cl-neutral-100),
	//'neutral-200': var(--cl-neutral-200),
	//'neutral-300': var(--cl-neutral-300),
	//'neutral-400': var(--cl-neutral-400),
	//'neutral-500': var(--cl-neutral-500),
	//'neutral-600': var(--cl-neutral-600),
	//'neutral-700': var(--cl-neutral-700),
	//'neutral-800': var(--cl-neutral-800),
	//'neutral-900': var(--cl-neutral-900),
	//
	//'positive-50': var(--cl-positive-50),
	//'positive-100': var(--cl-positive-100),
	//'positive-200': var(--cl-positive-200),
	//'positive-300': var(--cl-positive-300),
	//'positive-400': var(--cl-positive-400),
	//
	//'negative-50': var(--cl-negative-50),
	//'negative-100': var(--cl-negative-100),
	//'negative-200': var(--cl-negative-200),
	//'negative-300': var(--cl-negative-300),
	//'negative-400': var(--cl-negative-400),
	//
	//'info-50': var(--cl-info-50),
	//'info-100': var(--cl-info-100),
	//'info-200': var(--cl-info-200),
	//'info-300': var(--cl-info-300),
	//'info-400': var(--cl-info-400),
	//
	//'warning-50': var(--cl-warning-50),
	//'warning-100': var(--cl-warning-100),
	//'warning-200': var(--cl-warning-200),
	//'warning-300': var(--cl-warning-300),
	//'warning-400': var(--cl-warning-400),
	//
	//'text-100': var(--cl-text-100),
	//'text-200': var(--cl-text-200),
	//'text-300': var(--cl-text-300),
	//
	//'text-invert-100': var(--cl-text-invert-100),
	//'text-invert-200': var(--cl-text-invert-200),
	//'text-invert-300': var(--cl-text-invert-300),
	//

	//'black-200': var(--cl-black-200),
	//'black-300': var(--cl-black-300),
	//'black-400': var(--cl-black-400),
	//'black-500': var(--cl-black-500),
	//
	//'white-100': var(--cl-white-100),
	//'white-200': var(--cl-white-200),
	//'white-300': var(--cl-white-300),
	//'white-400': var(--cl-white-400),
	//'white-500': var(--cl-white-500),
	//
	//'tint-100': var(--cl-tint-100),
	//'tint-200': var(--cl-tint-200),
	//'tint-300': var(--cl-tint-300),
	//
	//'shade-100': var(--cl-shade-100),
	//'shade-200': var(--cl-shade-200),
	//'shade-300': var(--cl-shade-300),

	//'blue':
	//'tpr': transparent,
	//'crcl': currentColor,
	//'ihr': inherit,
);

$colors: (
	'primary': hsl(var(--hsl-primary) / var(--cl-opacity)),
	'primary-active': hsl(var(--hsl-primary-active) / var(--cl-opacity)),
	'primary-content': hsl(var(--hsl-primary-content) / var(--cl-opacity)),

	'content': hsl(var(--hsl-content) / var(--cl-opacity)),
	'content-inv': hsl(var(--hsl-content-inv) / var(--cl-opacity)),

	'positive': hsl(var(--hsl-positive) / var(--cl-opacity)),
	'positive-content': hsl(var(--hsl-positive-content) / var(--cl-opacity)),
	'negative': hsl(var(--hsl-negative) / var(--cl-opacity)),
	'negative-content': hsl(var(--hsl-negative-content) / var(--cl-opacity)),
	'warning': hsl(var(--hsl-warning) / var(--cl-opacity)),
	'warning-content': hsl(var(--hsl-warning-content) / var(--cl-opacity)),
	'info': hsl(var(--hsl-info) / var(--cl-opacity)),
	'info-content': hsl(var(--hsl-info-content) / var(--cl-opacity)),

	'black': hsl(var(--hsl-black) / var(--cl-opacity)),
	'white': hsl(var(--hsl-white) / var(--cl-opacity)),
);

$border-colors: (
	'primary': hsl(var(--hsl-primary) / var(--bdcl-opacity)),
	'primary-active': hsl(var(--hsl-primary-active) / var(--bdcl-opacity)),
	'primary-content': hsl(var(--hsl-primary-content) / var(--bdcl-opacity)),

	'base-100': hsl(var(--hsl-base-100) / var(--bdcl-opacity)),
	'base-200': hsl(var(--hsl-base-200) / var(--bdcl-opacity)),
	'base-300': hsl(var(--hsl-base-300) / var(--bdcl-opacity)),
	'base-400': hsl(var(--hsl-base-400) / var(--bdcl-opacity)),
	'content': hsl(var(--hsl-content) / var(--bdcl-opacity)),
	'content-inv': hsl(var(--hsl-content-inv) / var(--bdcl-opacity)),

	'positive': hsl(var(--hsl-positive) / var(--bdcl-opacity)),
	'positive-content': hsl(var(--hsl-positive-content) / var(--bdcl-opacity)),
	'negative': hsl(var(--hsl-negative) / var(--bdcl-opacity)),
	'negative-content': hsl(var(--hsl-negative-content) / var(--bdcl-opacity)),
	'warning': hsl(var(--hsl-warning) / var(--bdcl-opacity)),
	'warning-content': hsl(var(--hsl-warning-content) / var(--bdcl-opacity)),
	'info': hsl(var(--hsl-info) / var(--bdcl-opacity)),
	'info-content': hsl(var(--hsl-info-content) / var(--bdcl-opacity)),

	'black': hsl(var(--hsl-black) / var(--bdcl-opacity)),
	'white': hsl(var(--hsl-white) / var(--bdcl-opacity)),
);

$arbitrary-colors: (
	'tpr': transparent,
	'crcl': currentColor,
	'ihr': inherit,
);

$opacity: (
	'0': 0,
	'5': 0.05,
	'10': 0.1,
	'20': 0.2,
	'30': 0.3,
	'40': 0.4,
	'50': 0.5,
	'60': 0.6,
	'70': 0.7,
	'80': 0.8,
	'90': 0.9,
	'100': 1,
);

$border-radius: (
	'0': var(--spc-0),
	'1': var(--spc-1),
	'2': var(--spc-2),
	'3': var(--spc-3),
	'4': var(--spc-4),
	'5': var(--spc-5),
	'6': var(--spc-6),
	'7': var(--spc-7),
	'8': var(--spc-8),
	'9': var(--spc-9),
	'10': var(--spc-10),
	'11': var(--spc-11),
	'12': var(--spc-12),
	'13': var(--spc-13),
	'50pct': 50%,
	'100pct': 100%,
	'at': auto,
	'us': unset,
	'ihr': inherit,
	'max': 9999px,
);

$margin_padding: (
	'0': var(--spc-0),
	'1': var(--spc-1),
	'2': var(--spc-2),
	'3': var(--spc-3),
	'4': var(--spc-4),
	'5': var(--spc-5),
	'6': var(--spc-6),
	'7': var(--spc-7),
	'8': var(--spc-8),
	'9': var(--spc-9),
	'10': var(--spc-10),
	'11': var(--spc-11),
	'12': var(--spc-12),
	'13': var(--spc-13),
	'50pct': 50%,
	'100pct': 100%,
	'at': auto,
	'us': unset,
	'ihr': inherit,
);

// [min-max] width height
$width_height: (
	'0': var(--spc-0),
	'1': var(--spc-1),
	'2': var(--spc-2),
	'3': var(--spc-3),
	'4': var(--spc-4),
	'5': var(--spc-5),
	'6': var(--spc-6),
	'7': var(--spc-7),
	'8': var(--spc-8),
	'9': var(--spc-9),
	'10': var(--spc-10),
	'11': var(--spc-11),
	'12': var(--spc-12),
	'13': var(--spc-13),
	'50pct': 50%,
	'100pct': 100%,
	'at': auto,
	'us': unset,
	'ihr': inherit,
	'80ch': 80ch,
	'100vw': 100vw,
	'100vh': 100vh,
);

$top_right_bottom_left: (
	'0': var(--spc-0),
	'1': var(--spc-1),
	'2': var(--spc-2),
	'3': var(--spc-3),
	'4': var(--spc-4),
	'5': var(--spc-5),
	'6': var(--spc-6),
	'7': var(--spc-7),
	'8': var(--spc-8),
	'9': var(--spc-9),
	'10': var(--spc-10),
	'11': var(--spc-11),
	'12': var(--spc-12),
	'13': var(--spc-13),
	'50pct': 50%,
	'100pct': 100%,
	'at': auto,
	'us': unset,
);

$gap: (
	'0': var(--spc-0),
	'1': var(--spc-1),
	'2': var(--spc-2),
	'3': var(--spc-3),
	'4': var(--spc-4),
	'5': var(--spc-5),
	'6': var(--spc-6),
	'7': var(--spc-7),
	'8': var(--spc-8),
	'9': var(--spc-9),
	'10': var(--spc-10),
	'11': var(--spc-11),
	'12': var(--spc-12),
	'13': var(--spc-13),
	'us': unset,
);

$border-width: (
	'0': var(--spc-0),
	'1': var(--spc-1),
	'2': var(--spc-2),
	'3': var(--spc-3),
	'4': var(--spc-4),
	'5': var(--spc-5),
	'6': var(--spc-6),
	'7': var(--spc-7),
	'8': var(--spc-8),
	'9': var(--spc-9),
	'10': var(--spc-10),
	'11': var(--spc-11),
	'12': var(--spc-12),
	'13': var(--spc-13),
	'us': unset,
);

$font-families: (
	'primary': var(--ffml-primary),
	'secondary': var(--ffml-secondary),
);

$font-sizes: (
	'1': var(--fs-1),
	'2': var(--fs-2),
	'3': var(--fs-3),
	'4': var(--fs-4),
	'5': var(--fs-5),
	'6': var(--fs-6),
	'7': var(--fs-7),
	'8': var(--fs-8),
	'9': var(--fs-9),
	'10': var(--fs-10),
	'11': var(--fs-11),
	'12': var(--fs-12),
	'13': var(--fs-13),
	'14': var(--fs-14),
);

$font-weights: (
	'100': 100,
	'200': 200,
	'300': 300,
	'400': 400,
	'500': 500,
	'600': 600,
	'700': 700,
	'800': 800,
	'900': 900,
);

$line-heights: (
	'1': 1,
	'2': 1.15,
	'3': 1.25,
	'4': 1.50,
	'5': 1.65,
);

$sm: toRem(768);
$md: toRem(1024);
$lg: toRem(1280);

$breakpoints: (
	'sm': $sm,
	'md': $md,
	'lg': $lg,
);
