@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}als-nm {
	align-self: normal !important;
}
.#{c.$atom-prefix}als-at {
	align-self: auto !important;
}
.#{c.$atom-prefix}als-ct {
	align-self: center !important;
}
.#{c.$atom-prefix}als-st {
	align-self: start !important;
}
.#{c.$atom-prefix}als-e {
	align-self: end !important;
}
.#{c.$atom-prefix}als-fst {
	align-self: flex-start !important;
}
.#{c.$atom-prefix}als-fe {
	align-self: flex-end !important;
}
.#{c.$atom-prefix}als-str {
	align-self: stretch !important;
}
.#{c.$atom-prefix}als-bl {
	align-self: baseline !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}als-nm\:#{$breakpointName} {
			align-self: normal !important;
		}
		.#{c.$atom-prefix}als-at\:#{$breakpointName} {
			align-self: auto !important;
		}
		.#{c.$atom-prefix}als-ct\:#{$breakpointName} {
			align-self: center !important;
		}
		.#{c.$atom-prefix}als-st\:#{$breakpointName} {
			align-self: start !important;
		}
		.#{c.$atom-prefix}als-e\:#{$breakpointName} {
			align-self: end !important;
		}
		.#{c.$atom-prefix}als-fst\:#{$breakpointName} {
			align-self: flex-start !important;
		}
		.#{c.$atom-prefix}als-fe\:#{$breakpointName} {
			align-self: flex-end !important;
		}
		.#{c.$atom-prefix}als-str\:#{$breakpointName} {
			align-self: stretch !important;
		}
		.#{c.$atom-prefix}als-bl\:#{$breakpointName} {
			align-self: baseline !important;
		}
	}
}
