@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}alit-nm {
	align-items: normal !important;
}
.#{c.$atom-prefix}alit-str {
	align-items: stretch !important;
}
.#{c.$atom-prefix}alit-ct {
	align-items: center !important;
}
.#{c.$atom-prefix}alit-st {
	align-items: start !important;
}
.#{c.$atom-prefix}alit-e {
	align-items: end !important;
}
.#{c.$atom-prefix}alit-fst {
	align-items: flex-start !important;
}
.#{c.$atom-prefix}alit-fe {
	align-items: flex-end !important;
}
.#{c.$atom-prefix}alit-bl {
	align-items: baseline !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}alit-nm\:#{$breakpointName} {
			align-items: normal !important;
		}
		.#{c.$atom-prefix}alit-str\:#{$breakpointName} {
			align-items: stretch !important;
		}
		.#{c.$atom-prefix}alit-ct\:#{$breakpointName} {
			align-items: center !important;
		}
		.#{c.$atom-prefix}alit-st\:#{$breakpointName} {
			align-items: start !important;
		}
		.#{c.$atom-prefix}alit-e\:#{$breakpointName} {
			align-items: end !important;
		}
		.#{c.$atom-prefix}alit-fst\:#{$breakpointName} {
			align-items: flex-start !important;
		}
		.#{c.$atom-prefix}alit-fe\:#{$breakpointName} {
			align-items: flex-end !important;
		}
		.#{c.$atom-prefix}alit-bl\:#{$breakpointName} {
			align-items: baseline !important;
		}
	}
}
