@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}bgatm-sc {
	background-attachment: scroll !important;
}
.#{c.$atom-prefix}bgatm-f {
	background-attachment: fixed !important;
}
.#{c.$atom-prefix}bgatm-lc {
	background-attachment: local !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}bgatm-sc\:#{$breakpointName} {
			background-attachment: scroll !important;
		}
		.#{c.$atom-prefix}bgatm-f\:#{$breakpointName} {
			background-attachment: fixed !important;
		}
		.#{c.$atom-prefix}bgatm-lc\:#{$breakpointName} {
			background-attachment: local !important;
		}
	}
}
