@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}bgs-cv {
	background-size: cover !important;
}
.#{c.$atom-prefix}bgs-ct {
	background-size: contain !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}bgs-cv\:#{$breakpointName} {
			background-size: cover !important;
		}
		.#{c.$atom-prefix}bgs-ct\:#{$breakpointName} {
			background-size: contain !important;
		}
	}
}
