@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}cs-pt {
	cursor: pointer !important;
}
.#{c.$atom-prefix}cs-h {
	cursor: help !important;
}
.#{c.$atom-prefix}cs-nal {
	cursor: not-allowed !important;
}
.#{c.$atom-prefix}cs-m {
	cursor: move !important;
}
.#{c.$atom-prefix}cs-w {
	cursor: wait !important;
}
.#{c.$atom-prefix}cs-at {
	cursor: auto !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}cs-pt\:#{$breakpointName} {
			cursor: pointer !important;
		}
		.#{c.$atom-prefix}cs-h\:#{$breakpointName} {
			cursor: help !important;
		}
		.#{c.$atom-prefix}cs-nal\:#{$breakpointName} {
			cursor: not-allowed !important;
		}
		.#{c.$atom-prefix}cs-m\:#{$breakpointName} {
			cursor: move !important;
		}
		.#{c.$atom-prefix}cs-w\:#{$breakpointName} {
			cursor: wait !important;
		}
		.#{c.$atom-prefix}cs-at\:#{$breakpointName} {
			cursor: auto !important;
		}
	}
}
