@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}dp-b {
	display: block !important;
}
.#{c.$atom-prefix}dp-f {
	display: flex !important;
}
.#{c.$atom-prefix}dp-g {
	display: grid !important;
}
.#{c.$atom-prefix}dp-il {
	display: inline !important;
}
.#{c.$atom-prefix}dp-ilb {
	display: inline-block !important;
}
.#{c.$atom-prefix}dp-ilf {
	display: inline-flex !important;
}
.#{c.$atom-prefix}dp-ilg {
	display: inline-grid !important;
}
.#{c.$atom-prefix}dp-n {
	display: none !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}dp-b\:#{$breakpointName} {
			display: block !important;
		}
		.#{c.$atom-prefix}dp-f\:#{$breakpointName} {
			display: flex !important;
		}
		.#{c.$atom-prefix}dp-g\:#{$breakpointName} {
			display: grid !important;
		}
		.#{c.$atom-prefix}dp-il\:#{$breakpointName} {
			display: inline !important;
		}
		.#{c.$atom-prefix}dp-ilb\:#{$breakpointName} {
			display: inline-block !important;
		}
		.#{c.$atom-prefix}dp-ilf\:#{$breakpointName} {
			display: inline-flex !important;
		}
		.#{c.$atom-prefix}dp-ilg\:#{$breakpointName} {
			display: inline-grid !important;
		}
		.#{c.$atom-prefix}dp-n\:#{$breakpointName} {
			display: none !important;
		}
	}
}
