@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}fw-nw {
	flex-wrap: nowrap;
}
.#{c.$atom-prefix}fw-w {
	flex-wrap: wrap;
}
.#{c.$atom-prefix}fw-wrv {
	flex-wrap: wrap-reverse;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}fw-nw\:#{$breakpointName} {
			flex-wrap: nowrap !important;
		}
		.#{c.$atom-prefix}fw-w\:#{$breakpointName} {
			flex-wrap: wrap !important;
		}
		.#{c.$atom-prefix}fw-wrv\:#{$breakpointName} {
			flex-wrap: wrap-reverse !important;
		}
	}
}
