@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}f-1 {
	flex: 1 !important;
}
.#{c.$atom-prefix}f-n {
	flex: none !important;
}
.#{c.$atom-prefix}f-at {
	flex: auto !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}f-1\:#{$breakpointName} {
			flex: 1 !important;
		}
		.#{c.$atom-prefix}f-n\:#{$breakpointName} {
			flex: none !important;
		}
		.#{c.$atom-prefix}f-at\:#{$breakpointName} {
			flex: auto !important;
		}
	}
}
