@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}f-l {
	float: left !important;
}
.#{c.$atom-prefix}f-r {
	float: right !important;
}
.#{c.$atom-prefix}f-n {
	float: none !important;
}
.#{c.$atom-prefix}f-ilst {
	float: inline-start !important;
}
.#{c.$atom-prefix}f-ile {
	float: inline-end !important;
}
.#{c.$atom-prefix}f-us {
	float: unset !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}f-l\:#{$breakpointName} {
			float: left !important;
		}
		.#{c.$atom-prefix}f-r\:#{$breakpointName} {
			float: right !important;
		}
		.#{c.$atom-prefix}f-n\:#{$breakpointName} {
			float: none !important;
		}
		.#{c.$atom-prefix}f-ilst\:#{$breakpointName} {
			float: inline-start !important;
		}
		.#{c.$atom-prefix}f-ile\:#{$breakpointName} {
			float: inline-end !important;
		}
		.#{c.$atom-prefix}f-us\:#{$breakpointName} {
			float: unset !important;
		}
	}
}
