@use 'config' as c;
@use 'helper' as h;

@each $key, $value in c.$gap {
	.#{c.$atom-prefix}g-#{$key} {
		gap: #{$value} !important;
	}
	.#{c.$atom-prefix}rg-#{$key} {
		row-gap: #{$value} !important;
	}
	.#{c.$atom-prefix}clg-#{$key} {
		column-gap: #{$value} !important;
	}
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		@each $key, $value in c.$gap {
			.#{c.$atom-prefix}g-#{$key}\:#{$breakpointName} {
				gap: #{$value} !important;
			}
			.#{c.$atom-prefix}rg-#{$key}\:#{$breakpointName} {
				row-gap: #{$value} !important;
			}
			.#{c.$atom-prefix}clg-#{$key}\:#{$breakpointName} {
				column-gap: #{$value} !important;
			}
		}
	}
}
