@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}gatf-r {
	grid-auto-flow: row !important;
}
.#{c.$atom-prefix}gatf-cl {
	grid-auto-flow: column !important;
}
.#{c.$atom-prefix}gatf-d {
	grid-auto-flow: dense !important;
}
.#{c.$atom-prefix}gatf-rd {
	grid-auto-flow: row dense !important;
}
.#{c.$atom-prefix}gatf-cld {
	grid-auto-flow: column dense !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}gatf-r\:#{$breakpointName} {
			grid-auto-flow: row !important;
		}
		.#{c.$atom-prefix}gatf-cl\:#{$breakpointName} {
			grid-auto-flow: column !important;
		}
		.#{c.$atom-prefix}gatf-d\:#{$breakpointName} {
			grid-auto-flow: dense !important;
		}
		.#{c.$atom-prefix}gatf-rd\:#{$breakpointName} {
			grid-auto-flow: row dense !important;
		}
		.#{c.$atom-prefix}gatf-cld\:#{$breakpointName} {
			grid-auto-flow: column dense !important;
		}
	}
}
