@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}islt-at {
	isolation: auto !important;
}
.#{c.$atom-prefix}islt-isl {
	isolation: isolate !important;
}
.#{c.$atom-prefix}islt-us {
	isolation: unset !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}islt-at\:#{$breakpointName} {
			isolation: auto !important;
		}
		.#{c.$atom-prefix}islt-isl\:#{$breakpointName} {
			isolation: isolate !important;
		}
		.#{c.$atom-prefix}islt-us\:#{$breakpointName} {
			isolation: unset !important;
		}
	}
}
