@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}jtfct-st {
	justify-content: start !important;
}
.#{c.$atom-prefix}jtfct-e {
	justify-content: end !important;
}
.#{c.$atom-prefix}jtfct-ct {
	justify-content: center !important;
}
.#{c.$atom-prefix}jtfct-str {
	justify-content: stretch !important;
}
.#{c.$atom-prefix}jtfct-fst {
	justify-content: flex-start !important;
}
.#{c.$atom-prefix}jtfct-fe {
	justify-content: flex-end !important;
}
.#{c.$atom-prefix}jtfct-spbtw {
	justify-content: space-between !important;
}
.#{c.$atom-prefix}jtfct-spar {
	justify-content: space-around !important;
}
.#{c.$atom-prefix}jtfct-spevl {
	justify-content: space-evenly !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}jtfct-st\:#{$breakpointName} {
			justify-content: start !important;
		}
		.#{c.$atom-prefix}jtfct-e\:#{$breakpointName} {
			justify-content: end !important;
		}
		.#{c.$atom-prefix}jtfct-ct\:#{$breakpointName} {
			justify-content: center !important;
		}
		.#{c.$atom-prefix}jtfct-str\:#{$breakpointName} {
			justify-content: stretch !important;
		}
		.#{c.$atom-prefix}jtfct-fst\:#{$breakpointName} {
			justify-content: flex-start !important;
		}
		.#{c.$atom-prefix}jtfct-fe\:#{$breakpointName} {
			justify-content: flex-end !important;
		}
		.#{c.$atom-prefix}jtfct-spbtw\:#{$breakpointName} {
			justify-content: space-between !important;
		}
		.#{c.$atom-prefix}jtfct-spar\:#{$breakpointName} {
			justify-content: space-around !important;
		}
		.#{c.$atom-prefix}jtfct-spevl\:#{$breakpointName} {
			justify-content: space-evenly !important;
		}
	}
}
