@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}jtfit-st {
	justify-items: start !important;
}
.#{c.$atom-prefix}jtfit-e {
	justify-items: end !important;
}
.#{c.$atom-prefix}jtfit-ct {
	justify-items: center !important;
}
.#{c.$atom-prefix}jtfit-str {
	justify-items: stretch !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}jtfit-st\:#{$breakpointName} {
			justify-items: start !important;
		}
		.#{c.$atom-prefix}jtfit-e\:#{$breakpointName} {
			justify-items: end !important;
		}
		.#{c.$atom-prefix}jtfit-ct\:#{$breakpointName} {
			justify-items: center !important;
		}
		.#{c.$atom-prefix}jtfit-str\:#{$breakpointName} {
			justify-items: stretch !important;
		}
	}
}
