@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}lst-n {
	list-style: none !important;
}
.#{c.$atom-prefix}lst-d {
	list-style: disc !important;
}
.#{c.$atom-prefix}lst-dcm {
	list-style: decimal !important;
}
.#{c.$atom-prefix}lst-lwap {
	list-style: lower-alpha !important;
}
.#{c.$atom-prefix}lst-apap {
	list-style: upper-alpha !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}lst-n\:#{$breakpointName} {
			list-style: none !important;
		}
		.#{c.$atom-prefix}lst-d\:#{$breakpointName} {
			list-style: disc !important;
		}
		.#{c.$atom-prefix}lst-dcm\:#{$breakpointName} {
			list-style: decimal !important;
		}
		.#{c.$atom-prefix}lst-lwap\:#{$breakpointName} {
			list-style: lower-alpha !important;
		}
		.#{c.$atom-prefix}lst-apap\:#{$breakpointName} {
			list-style: upper-alpha !important;
		}
	}
}
