@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}lstpst-is {
	list-style-position: inside !important;
}
.#{c.$atom-prefix}lstpst-os {
	list-style-position: outside !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}lstpst-is\:#{$breakpointName} {
			list-style-position: inside !important;
		}
		.#{c.$atom-prefix}lstpst-os\:#{$breakpointName} {
			list-style-position: outside !important;
		}
	}
}
