@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}opct-100 {
	opacity: 1 !important;
}
.#{c.$atom-prefix}opct-90 {
	opacity: 0.9 !important;
}
.#{c.$atom-prefix}opct-80 {
	opacity: 0.8 !important;
}
.#{c.$atom-prefix}opct-70 {
	opacity: 0.7 !important;
}
.#{c.$atom-prefix}opct-60 {
	opacity: 0.6 !important;
}
.#{c.$atom-prefix}opct-50 {
	opacity: 0.5 !important;
}
.#{c.$atom-prefix}opct-40 {
	opacity: 0.4 !important;
}
.#{c.$atom-prefix}opct-30 {
	opacity: 0.3 !important;
}
.#{c.$atom-prefix}opct-20 {
	opacity: 0.2 !important;
}
.#{c.$atom-prefix}opct-10 {
	opacity: 0.1 !important;
}
.#{c.$atom-prefix}opct-0 {
	opacity: 0 !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}opct-100\:#{$breakpointName} {
			opacity: 1 !important;
		}
		.#{c.$atom-prefix}opct-90\:#{$breakpointName} {
			opacity: 0.9 !important;
		}
		.#{c.$atom-prefix}opct-80\:#{$breakpointName} {
			opacity: 0.8 !important;
		}
		.#{c.$atom-prefix}opct-70\:#{$breakpointName} {
			opacity: 0.7 !important;
		}
		.#{c.$atom-prefix}opct-60\:#{$breakpointName} {
			opacity: 0.6 !important;
		}
		.#{c.$atom-prefix}opct-50\:#{$breakpointName} {
			opacity: 0.5 !important;
		}
		.#{c.$atom-prefix}opct-40\:#{$breakpointName} {
			opacity: 0.4 !important;
		}
		.#{c.$atom-prefix}opct-30\:#{$breakpointName} {
			opacity: 0.3 !important;
		}
		.#{c.$atom-prefix}opct-20\:#{$breakpointName} {
			opacity: 0.2 !important;
		}
		.#{c.$atom-prefix}opct-10\:#{$breakpointName} {
			opacity: 0.1 !important;
		}
		.#{c.$atom-prefix}opct-0\:#{$breakpointName} {
			opacity: 0 !important;
		}
	}
}
