@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}ovf-vsb {
	overflow: visible !important;
}
.#{c.$atom-prefix}ovf-at {
	overflow: auto !important;
}
.#{c.$atom-prefix}ovf-hd {
	overflow: hidden !important;
}
.#{c.$atom-prefix}ovf-sc {
	overflow: scroll !important;
}
.#{c.$atom-prefix}ovfx-vsb {
	overflow-x: visible !important;
}
.#{c.$atom-prefix}ovfx-at {
	overflow-x: auto !important;
}
.#{c.$atom-prefix}ovfx-hd {
	overflow-x: hidden !important;
}
.#{c.$atom-prefix}ovfx-sc {
	overflow-x: scroll !important;
}
.#{c.$atom-prefix}ovfy-vsb {
	overflow-y: visible !important;
}
.#{c.$atom-prefix}ovfy-at {
	overflow-y: auto !important;
}
.#{c.$atom-prefix}ovfy-hd {
	overflow-y: hidden !important;
}
.#{c.$atom-prefix}ovfy-sc {
	overflow-y: scroll !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}ovf-vsb\:#{$breakpointName} {
			overflow: visible !important;
		}
		.#{c.$atom-prefix}ovf-at\:#{$breakpointName} {
			overflow: auto !important;
		}
		.#{c.$atom-prefix}ovf-hd\:#{$breakpointName} {
			overflow: hidden !important;
		}
		.#{c.$atom-prefix}ovf-sc\:#{$breakpointName} {
			overflow: scroll !important;
		}
		.#{c.$atom-prefix}ovfx-vsb\:#{$breakpointName} {
			overflow-x: visible !important;
		}
		.#{c.$atom-prefix}ovfx-at\:#{$breakpointName} {
			overflow-x: auto !important;
		}
		.#{c.$atom-prefix}ovfx-hd\:#{$breakpointName} {
			overflow-x: hidden !important;
		}
		.#{c.$atom-prefix}ovfx-sc\:#{$breakpointName} {
			overflow-x: scroll !important;
		}
		.#{c.$atom-prefix}ovfy-vsb\:#{$breakpointName} {
			overflow-y: visible !important;
		}
		.#{c.$atom-prefix}ovfy-at\:#{$breakpointName} {
			overflow-y: auto !important;
		}
		.#{c.$atom-prefix}ovfy-hd\:#{$breakpointName} {
			overflow-y: hidden !important;
		}
		.#{c.$atom-prefix}ovfy-sc\:#{$breakpointName} {
			overflow-y: scroll !important;
		}
	}
}
