@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}ovfw-nm {
	overflow-wrap: normal !important;
}
.#{c.$atom-prefix}ovfw-bw {
	overflow-wrap: break-word !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}ovfw-nm\:#{$breakpointName} {
			overflow-wrap: visible !important;
		}
		.#{c.$atom-prefix}ovfw-bw\:#{$breakpointName} {
			overflow-wrap: break-word !important;
		}
	}
}
