@use 'config' as c;
@use 'helper' as h;

@each $key, $value in c.$margin_padding {
	.#{c.$atom-prefix}pd-#{$key} {
		padding: #{$value} !important;
	}
	.#{c.$atom-prefix}pdl-#{$key} {
		padding-left: #{$value} !important;
	}
	.#{c.$atom-prefix}pdr-#{$key} {
		padding-right: #{$value} !important;
	}
	.#{c.$atom-prefix}pdt-#{$key} {
		padding-top: #{$value} !important;
	}
	.#{c.$atom-prefix}pdbt-#{$key} {
		padding-bottom: #{$value} !important;
	}
	.#{c.$atom-prefix}pdv-#{$key} {
		padding-top: #{$value} !important;
		padding-bottom: #{$value} !important;
	}
	.#{c.$atom-prefix}pdh-#{$key} {
		padding-left: #{$value} !important;
		padding-right: #{$value} !important;
	}
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		@each $key, $value in c.$margin_padding {
			.#{c.$atom-prefix}pd-#{$key}\:#{$breakpointName} {
				padding: #{$value} !important;
			}
			.#{c.$atom-prefix}pdl-#{$key}\:#{$breakpointName} {
				padding-left: #{$value} !important;
			}
			.#{c.$atom-prefix}pdr-#{$key}\:#{$breakpointName} {
				padding-right: #{$value} !important;
			}
			.#{c.$atom-prefix}pdt-#{$key}\:#{$breakpointName} {
				padding-top: #{$value} !important;
			}
			.#{c.$atom-prefix}pdbt-#{$key}\:#{$breakpointName} {
				padding-bottom: #{$value} !important;
			}
			.#{c.$atom-prefix}pdv-#{$key}\:#{$breakpointName} {
				padding-top: #{$value} !important;
				padding-bottom: #{$value} !important;
			}
			.#{c.$atom-prefix}pdh-#{$key}\:#{$breakpointName} {
				padding-left: #{$value} !important;
				padding-right: #{$value} !important;
			}
		}
	}
}
