@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}ptev-at {
	pointer-events: auto !important;
}
.#{c.$atom-prefix}ptev-n {
	pointer-events: none !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}ptev-at\:#{$breakpointName} {
			pointer-events: auto !important;
		}
		.#{c.$atom-prefix}ptev-n\:#{$breakpointName} {
			pointer-events: none !important;
		}
	}
}
