@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}pst-stt {
	position: static !important;
}
.#{c.$atom-prefix}pst-rlt {
	position: relative !important;
}
.#{c.$atom-prefix}pst-asl {
	position: absolute !important;
}
.#{c.$atom-prefix}pst-f {
	position: fixed !important;
}
.#{c.$atom-prefix}pst-stk {
	position: sticky !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}pst-stt\:#{$breakpointName} {
			position: static !important;
		}
		.#{c.$atom-prefix}pst-rlt\:#{$breakpointName} {
			position: relative !important;
		}
		.#{c.$atom-prefix}pst-asl\:#{$breakpointName} {
			position: absolute !important;
		}
		.#{c.$atom-prefix}pst-f\:#{$breakpointName} {
			position: fixed !important;
		}
		.#{c.$atom-prefix}pst-stk\:#{$breakpointName} {
			position: sticky !important;
		}
	}
}
