@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}tal-l {
	text-align: left !important;
}
.#{c.$atom-prefix}tal-r {
	text-align: right !important;
}
.#{c.$atom-prefix}tal-ct {
	text-align: center !important;
}
.#{c.$atom-prefix}tal-jtf {
	text-align: justify !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}tal-l\:#{$breakpointName} {
			text-align: left !important;
		}
		.#{c.$atom-prefix}tal-r\:#{$breakpointName} {
			text-align: right !important;
		}
		.#{c.$atom-prefix}tal-ct\:#{$breakpointName} {
			text-align: center !important;
		}
		.#{c.$atom-prefix}tal-jtf\:#{$breakpointName} {
			text-align: justify !important;
		}
	}
}
