@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}tdcrt-udl {
	text-decoration: underline !important;
}
.#{c.$atom-prefix}tdcrt-ovl {
	text-decoration: overline !important;
}
.#{c.$atom-prefix}tdcrt-lt {
	text-decoration: line-through !important;
}
.#{c.$atom-prefix}tdcrt-n {
	text-decoration: none !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}tdcrt-udl\:#{$breakpointName} {
			text-decoration: underline !important;
		}
		.#{c.$atom-prefix}tdcrt-ovl\:#{$breakpointName} {
			text-decoration: overline !important;
		}
		.#{c.$atom-prefix}tdcrt-lt\:#{$breakpointName} {
			text-decoration: line-through !important;
		}
		.#{c.$atom-prefix}tdcrt-n\:#{$breakpointName} {
			text-decoration: none !important;
		}
	}
}
