@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}ttf-cptl {
	text-transform: capitalize !important;
}
.#{c.$atom-prefix}ttf-lwc {
	text-transform: lowercase !important;
}
.#{c.$atom-prefix}ttf-upc {
	text-transform: uppercase !important;
}
.#{c.$atom-prefix}ttf-n {
	text-transform: none !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}ttf-cptl\:#{$breakpointName} {
			text-transform: capitalize !important;
		}
		.#{c.$atom-prefix}ttf-lwc\:#{$breakpointName} {
			text-transform: lowercase !important;
		}
		.#{c.$atom-prefix}ttf-upc\:#{$breakpointName} {
			text-transform: uppercase !important;
		}
		.#{c.$atom-prefix}ttf-n\:#{$breakpointName} {
			text-transform: none !important;
		}
	}
}
