@use 'config' as c;
@use 'helper' as h;

@each $key, $value in c.$colors {
	.#{c.$atom-prefix}tdcrtcl-#{$key} {
		text-decoration-color: #{$value} !important;
	}
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		@each $key, $value in c.$colors {
			.#{c.$atom-prefix}tdcrtcl-#{$key}\:#{$breakpointName} {
				text-decoration-color: #{$value} !important;
			}
		}
	}
}

@each $key, $value in c.$colors {
	.#{c.$atom-prefix}tdcrtcl-#{$key}\:hover {
		&:hover {
			text-decoration-color: #{$value} !important;
		}
	}
}
