@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}ussl-n {
	user-select: none !important;
}
.#{c.$atom-prefix}ussl-t {
	user-select: text !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}ussl-n\:#{$breakpointName} {
			user-select: none !important;
		}
		.#{c.$atom-prefix}ussl-t\:#{$breakpointName} {
			user-select: text !important;
		}
	}
}
