@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}vtcal-t {
	vertical-align: top !important;
}
.#{c.$atom-prefix}vtcal-bt {
	vertical-align: bottom !important;
}
.#{c.$atom-prefix}vtcal-bl {
	vertical-align: baseline !important;
}
.#{c.$atom-prefix}vtcal-md {
	vertical-align: middle !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}vtcal-t\:#{$breakpointName} {
			vertical-align: top !important;
		}
		.#{c.$atom-prefix}vtcal-bt\:#{$breakpointName} {
			vertical-align: bottom !important;
		}
		.#{c.$atom-prefix}vtcal-bl\:#{$breakpointName} {
			vertical-align: baseline !important;
		}
		.#{c.$atom-prefix}vtcal-md\:#{$breakpointName} {
			vertical-align: middle !important;
		}
	}
}
