@use 'config' as c;
@use 'helper' as h;

.#{c.$atom-prefix}zid-0 {
	z-index: 0 !important;
}
.#{c.$atom-prefix}zid-1 {
	z-index: 1 !important;
}
.#{c.$atom-prefix}zid-2 {
	z-index: 2 !important;
}
.#{c.$atom-prefix}zid--1 {
	z-index: -1 !important;
}
.#{c.$atom-prefix}zid-at {
	z-index: auto !important;
}

@each $breakpointName, $breakpointSize in c.$breakpoints {
	@media (min-width: $breakpointSize) {
		.#{c.$atom-prefix}zid-0\:#{$breakpointName} {
			z-index: 0 !important;
		}
		.#{c.$atom-prefix}zid-1\:#{$breakpointName} {
			z-index: 1 !important;
		}
		.#{c.$atom-prefix}zid-2\:#{$breakpointName} {
			z-index: 2 !important;
		}
		.#{c.$atom-prefix}zid--1\:#{$breakpointName} {
			z-index: -1 !important;
		}
		.#{c.$atom-prefix}zid-at\:#{$breakpointName} {
			z-index: auto !important;
		}
	}
}
