@use 'config' as c;
@use 'helper' as h;

.#{c.$prefix}card {
	padding: h.toEm(16px) h.toEm(24px);
	border: 1px solid hsl(var(--hsl-content) / 0.1);
	border-radius: h.toEm(8px);
	background-color: hsl(var(--hsl-base-100));

	&.is-raised-100 {
		box-shadow: var(--bsd-100);
	}

	&.is-raised-200 {
		box-shadow: var(--bsd-200);
	}

	&.is-raised-300 {
		box-shadow: var(--bsd-300);
	}

	&.is-raised-400 {
		box-shadow: var(--bsd-400);
	}
}
