@use 'config' as c;
@use 'helper' as h;

$SIZES: 'small', 'medium', 'large';

.#{c.$prefix}field {
	@extend %base-field;

	// size
	@each $s in $SIZES {
		&.is-size-#{$s} {
			font-size: var(--form-element-#{$s}-font-size);

			.#{c.$prefix}input,
			.#{c.$prefix}select {
				height: var(--form-element-#{$s}-height);
			}

			.#{c.$prefix}input,
			.#{c.$prefix}select,
			.#{c.$prefix}textarea {
				font-size: var(--form-element-#{$s}-font-size);
			}
		}
	}

	&.is-variant-negative {
		.#{c.$prefix}input input,
		.#{c.$prefix}select select,
		.#{c.$prefix}textarea textarea {
			color: hsl(var(--hsl-negative));
			border-color: hsl(var(--hsl-negative));

			&:hover {
				border-color: hsl(var(--hsl-negative));
			}

			&:focus {
				box-shadow: 0 0 0 0.175em hsl(var(--hsl-negative) / 0.3);
			}
		}

		.info {
			color: hsl(var(--hsl-negative));
		}
	}

	&.is-variant-positive {
		.#{c.$prefix}input input,
		.#{c.$prefix}select select,
		.#{c.$prefix}textarea textarea {
			color: hsl(var(--hsl-positive));
			border-color: hsl(var(--hsl-positive));

			&:hover {
				border-color: hsl(var(--hsl-positive));
			}

			&:focus {
				box-shadow: 0 0 0 0.175em hsl(var(--hsl-positive) / 0.3);
			}
		}

		.info {
			color: hsl(var(--hsl-positive));
		}
	}
}
