.#{$prefix}input {
	font-size: var(--form-element-medium-font-size);
	font-weight: 400;
	position: relative;
	display: block;
	flex-direction: column;
	height: var(--form-element-medium-height);
	border-radius: var(--form-element-border-radius);
	gap: toEm(6);

	input {
		@extend %base-input;

		padding: 0 toEm(12);
	}

	input[readonly] {
		background: hsl(var(--hsl-content) / 0.05);
	}

	input[disabled] {
		cursor: not-allowed;
		background: hsl(var(--hsl-content) / 0.05);
	}
}
