@use 'config' as c;
@use 'helper' as h;

.#{c.$prefix}table-container {
	position: relative;
	overflow-x: auto;
	overflow-y: visible;
	border-radius: var(--table-border-radius, h.toRem(4px));

	&.is-scroll-padding {
		padding-right: #{h.toRem(16px)};

		&:after {
			padding-right: #{h.toRem(16px)};
		}
	}

	&:after {
		position: sticky;
		z-index: 1;
		right: 0;
		bottom: 1px;
		display: block;
		content: ' ';
		border-bottom: var(--table-border-width, h.toRem(1px)) solid
			var(--table-border-color, hsl(var(--hsl-line) / 0.8));
	}
}

.#{c.$prefix}table {
	overflow-x: auto;
	overflow-y: visible;

	width: 100%;
	max-width: 100%;

	border-spacing: 0;
	border-collapse: separate;
	word-break: normal;

	thead {
		font-size: var(--table-head-font-size, h.toRem(15px));
		overflow: hidden;
	}

	tbody {
		font-size: var(--table-data-font-size, h.toRem(14px));
	}

	th,
	td {
		text-align: left;
		vertical-align: middle;

		&:first-child {
			padding-left: var(--table-side-padding, h.toEm(24px));
		}

		&:not(:first-child) {
			padding-left: var(--table-gutter, h.toEm(24px));
		}

		&:last-child {
			padding-right: var(--table-side-padding, h.toEm(24px));
		}

		&.is-align-left {
			text-align: left;
		}

		&.is-align-center {
			text-align: center;
		}

		&.is-align-right {
			text-align: right;
		}
	}

	td {
		padding: var(--table-data-vertical-padding, h.toRem(16px)) 0;
		white-space: nowrap;

		p {
			white-space: normal;
		}

		&.is-collapse {
			width: 1%;
		}
	}

	th {
		font-family: var(--table-head-font-family, var(--ffml-secondary));
		font-weight: var(--table-head-font-weight, 600);
		padding: var(--table-head-vertical-padding, #{h.toRem(12px)}) 0;
		border-spacing: 5px 5px;

		border-collapse: separate;
		white-space: nowrap;
		color: hsl(var(--hsl-content) / 1);
		border-bottom: h.toRem(1px) solid
			var(--table-data-border-color, hsl(var(--hsl-line) / 0.7));
		background: var(--table-head-background, hsl(var(--hsl-base-200)));

		p {
			white-space: normal;
		}

		&.is-collapse {
			width: 1%;
		}
	}

	tr:not(:last-child) {
		td {
			border-bottom: h.toRem(1px) solid
				var(--table-data-border-color, hsl(var(--hsl-line) / 0.7));
		}
	}

	&.is-variant-compact {
		tr td {
			padding-top: h.toRem(10px);
			padding-bottom: h.toRem(10px);
		}
	}

	&.is-header-sticky {
		tr th {
			position: sticky;
			z-index: 2;
			top: 0;
		}
	}
}
